@import "tailwindcss";

.my-app .excalidraw.theme--dark {
  --color-primary: pink;
}



.custom-styles .excalidraw {
  --color-primary: #000000;
  --color-primary-darker: #d64c7e;
  --color-primary-darkest: #e86e99;
  --color-primary-light: #dcbec9;
}