@import "tailwindcss";

.my-app .excalidraw.theme--dark {
  --color-primary: pink;
}



.custom-styles .excalidraw {
  --color-primary: #000000;
  --color-primary-darker: #d64c7e;
  --color-primary-darkest: #e86e99;
  --color-primary-light: #dcbec9;
}



/* For moving toolbar for laptop screen at bottom */
@media (min-width: 1024px) {
  .excalidraw .Island.App-toolbar {
    position: fixed !important;
    top: auto !important;
    bottom: 16px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: auto !important;
    z-index: 30;
  }
}


/* hiding zoom in zoom out */
.excalidraw .Stack.Stack_vertical.zoom-actions {
  display: none !important;
}



/* Hiding library button */
/* Hide the default Excalidraw sidebar trigger button */
.excalidraw .sidebar-trigger.default-sidebar-trigger {
  display: none !important;
}
